DATABASE_URL=postgresql://usuario:senha@host/neondb?sslmode=require
VAPID_PUBLIC_KEY=COLE_A_CHAVE_PUBLICA_GERADA_AQUI
VAPID_PRIVATE_KEY=COLE_A_CHAVE_PRIVADA_GERADA_AQUI
VAPID_SUBJECT=mailto:operacao@seu-dominio.com
